<div id="find_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="imovel_search_form">
                    <div class="row wow fadeInUp">
                        <div class="filter_types col-12 d-flex align-middle">
                            <a role="button" href="/comprar?genero=Venda" style="border-bottom: none"
                                class="btn btn-default-outline <%= genero == 'Venda' ? 'active' : '' %> "><i
                                    class="fa fa-filter"></i> Quero comprar</a>
                            <a role="button" href="/alugar" style="border-bottom: none"
                                class="btn btn-default-outline  <%= genero == 'Aluguel' ? 'active' : '' %> "><i
                                    class="fa fa-filter"></i> Quero alugar</a>
                        </div>
                        <div class="filter_types col-12 d-flex align-middle">
                            <button id="btnUrbano"
                                class="btn btn-default-outline <% if( form.filtrando ) { %>  <%= form.filtrando == 'Urbana' ? 'active' : '' %> <% } %> "><i
                                    class="fa fa-filter"></i> Filtrar por Urbanos</button>
                            <button id="btnRural"
                                class="btn btn-default-outline  <% if( form.filtrando ) { %>  <%= form.filtrando == 'Rural' ? 'active' : '' %> <% } %> "><i
                                    class="fa fa-filter"></i> Filtrar por Rurais</button>
                        </div>
                        <div class="filter-forms mt-10">
                            <form id="filtros-urbano" class="filter-form hidden" method="GET" action="/comprar">
                                <input type="hidden" name="zona" value="Urbana">
                                <input type="hidden" name="genero" value="<%= genero %>">

                                <!-- <input type="hidden" name="filtrando" value="Urbana"> -->

                                <div class="col-md-2 col-sm-4 col-xs-6 z-index-10">
                                    <input name="codigo" type="number" placeholder="Código" class="form-control"
                                        value="<%= form.codigo ? form.codigo : ''%>">
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-6 z-index-10">
                                    <input name="cep" type="text" placeholder="CEP" class="form-control"
                                        value="<%= form.cep ? form.cep : ''%>">
                                </div>

                                <div class="col-md-3 col-sm-4 col-xs-6 z-index-10">
                                    <input name="rua" type="text" placeholder="Rua" class="form-control"
                                    value="<%= form.rua ? form.rua  : ''%>">
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-6 urbano-form">
                                    <select name="cidade" data-size="4" id="cidade" class="selectpicker form-control"
                                        onchange="definiBairro()">
                                        <option disabled selected>Cidade</option>
                                        <option value="Bagé">Bagé</option>
                                        <option value="Outros">Outros</option>
                                    </select>
                                </div>

                                <div class="col-md-3 col-sm-4 col-xs-6 urbano-form" id="bairro-default">
                                    <select name="bairro" data-size="4" class="selectpicker form-control">
                                        <option disabled selected value="">Bairro</option>
                                        <option disabled value="">Selecione uma cidade</option>
                                    </select>
                                </div>

                                <div class="col-md-3 col-sm-4 urbano-form d-none" id="bairro-outros">
                                    <select name="bairro_outros" data-size="4" class="selectpicker form-control">
                                        <option disabled selected>Bairro</option>
                                        <option value="">Outros</option>
                                    </select>
                                </div>

                                <div class="col-md-3 col-sm-4 urbano-form d-none" id="bairro-bage">
                                    <select name="bairro_bage" data-size="4" class="selectpicker form-control">
                                        <option disabled selected>Bairro</option>
                                        <% for(bairro of bairroBage) {%>
                                        <option value="<%= bairro %>"> <%= bairro %> </option>
                                        <% } %>
                                    </select>
                                </div>

                                <!-- <div class="col-md-2 col-sm-4">
                                    <input name="bairro" type="text" placeholder="Bairro" class="form-control"
                                        value="<%=// form.bairro ? form.bairro : ''%>">
                                </div> -->

                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <select name="tipo" data-size="4" class="selectpicker form-control">
                                        <option selected disabled>Tipo</option>
                                        <option value="">Todos</option>
                                        <option <% if(form.tipo ) { %> <%= form.tipo == 'Casa' ? 'selected' : ''%><% }%> value="Casa">Casa</option>
                                        <option <% if(form.tipo ) { %><%= form.tipo == 'Apartamento' ? 'selected' : ''%> <% }%>value="Apartamento">Apartamento</option>\
                                        <option <% if(form.tipo ) { %> <%= form.tipo == 'Kitnet' ? 'selected' : ''%><% }%> value="Kitnet">Kitnet</option>
                                        <option <% if(form.tipo ) { %><%= form.tipo == 'Salão Comercial' ? 'selected' : ''%> <% }%>value="Salão Comercial">Salão Comercial</option>
                                        <option <% if(form.tipo ) { %> <%= form.tipo == 'Escritório' ? 'selected' : ''%><% }%> value="Escritório">Escritório</option>
                                        <option <% if(form.tipo ) { %> <%= form.tipo == 'Terreno' ? 'selected' : ''%><% }%> value="Terreno">Terreno</option>
                                        <option <% if(form.tipo ) { %> <%= form.tipo == 'Chácara' ? 'selected' : ''%><% }%> value="Chácara">Chácara</option>
                                    </select>
                                </div>

                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <select name="dormitorios" data-size="4" class="selectpicker form-control">
                                        <option disabled selected>Dormitórios</option>
                                        <option <% if(form.dormitorios ) { %><%= form.dormitorios == 1 ? 'selected' : ''%> <% }%> value="1">1</option>
                                        <option <% if(form.dormitorios ) { %><%= form.dormitorios == 2 ? 'selected' : ''%> <% }%> value="2">2</option>
                                        <option <% if(form.dormitorios ) { %><%= form.dormitorios == 3 ? 'selected' : ''%> <% }%> value="3">3</option>
                                        <option <% if(form.dormitorios ) { %><%= form.dormitorios == 4 ? 'selected' : ''%> <% }%> value="4">4+</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <select name="banheiros" data-size="4" class="selectpicker form-control">
                                        <option disabled selected>Banheiros</option>
                                        <option <% if(form.banheiros ) { %> <%= form.banheiros == 1 ? 'selected' : ''%><% }%> value="1">1</option>
                                        <option <% if(form.banheiros ) { %> <%= form.banheiros == 2 ? 'selected' : ''%><% }%> value="2">2</option>
                                        <option <% if(form.banheiros ) { %> <%= form.banheiros == 3 ? 'selected' : ''%><% }%> value="3">3</option>
                                        <option <% if(form.banheiros ) { %> <%= form.banheiros == 4 ? 'selected' : ''%><% }%> value="4">4+</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <select name="cozinhas" data-size="4" class="selectpicker form-control">
                                        <option disabled selected>Cozinhas</option>
                                        <option <% if(form.cozinhas ) { %> <%= form.cozinhas == 1 ? 'selected' : ''%><% }%> value="1">1</option>
                                        <option <% if(form.cozinhas ) { %> <%= form.cozinhas == 2 ? 'selected' : ''%><% }%> value="2">2</option>
                                        <option <% if(form.cozinhas ) { %> <%= form.cozinhas == 3 ? 'selected' : ''%><% }%> value="3">3</option>
                                        <option <% if(form.cozinhas ) { %> <%= form.cozinhas == 4 ? 'selected' : ''%><% }%> value="4">4+</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <select name="suites" data-size="4" class="selectpicker form-control">
                                        <option disabled selected>Suítes</option>
                                        <option <% if(form.suites ) { %> <%= form.suites == 1 ? 'selected' : ''%> <% }%>value="1">1</option>
                                        <option <% if(form.suites ) { %> <%= form.suites == 2 ? 'selected' : ''%> <% }%>value="2">2</option>
                                        <option <% if(form.suites ) { %> <%= form.suites == 3 ? 'selected' : ''%> <% }%>value="3">3</option>
                                        <option <% if(form.suites ) { %> <%= form.suites == 4 ? 'selected' : ''%> <% }%>value="4">4+</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <select name="patio" class="selectpicker form-control">
                                        <option disabled selected>Pátio</option>
                                        <option <% if(form.patio ) { %> <%= form.patio == 'true' ? 'selected' : ''%><% }%> value="true">Sim</option>
                                        <option <% if(form.patio ) { %> <%= form.patio == 'false' ? 'selected' : ''%><% }%> value="false">Não</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <select name="piscina" class="selectpicker form-control">
                                        <option disabled selected>Piscina</option>
                                        <option <% if(form.piscina ) { %><%= form.piscina == 'false' ? 'selected' : ''%> <% }%> value="true">Sim</option>
                                        <option <% if(form.piscina ) { %><%= form.piscina == 'false' ? 'selected' : ''%> <% }%> value="false">Não</option>
                                    </select>
                                </div>
                                
                                <div class="col-md-3 col-sm-6 col-xs-6 urbano-form z-index-10">
                                    <input type="text" name="valmin" class="form-control moneyInput"
                                        placeholder="Valor mín">
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6 urbano-form z-index-10">
                                    <input type="text" name="valmax" class="form-control moneyInput"
                                        placeholder="Valor máx">
                                </div>

                                <div class="col-12 send-filter-btns">
                                    <button type="submit" class="btn btn-default-outline"> <i class="fa fa-filter"></i>
                                        Filtrar Imóveis!</button>
                                    <a role="button" href="/comprar?filtrando=Urbana" type="submit"
                                        class="mt-2 btn btn-sm btn-default-outline">
                                        <i class="fa fa-filter"></i>
                                        Reiniciar filtros</a>
                                </div>
                            </form>


                            <!-- FORM PARA ZONA RURAL -->
                            <form id="filtros-rural" class="hidden filter-form" method="GET" action="/comprar">
                                <div class="row">
                                    <input type="hidden" name="zona" value="Rural">
                                    <input type="hidden" name="filtrando" value="Rural">
                                    <input type="hidden" name="genero" value="<%= genero %>">

                                    <div class="col-md-2 col-sm-4 col-xs-6 z-index-10">
                                        <input name="codigo" type="number" placeholder="Código" class="form-control"
                                            value="<%= form.codigo ? form.codigo : ''%>">
                                    </div>

                                    <div class="col-md-2 col-sm-6">
                                        <select name="tipo" data-size="4" class="selectpicker form-control">
                                            <option disabled selected>Tipo</option>
                                            <option value="">Todos</option>
                                            <option <% if(form.tipo ) { %> <%= form.tipo == 'Chácara' ? 'selected' : ''%><% }%> value="Chácara">Chácara</option>
                                            <option <% if(form.tipo ) { %> <%= form.tipo == 'Sítio' ? 'selected' : ''%><% }%> value="Sítio">Sítio</option>
                                            <option <% if(form.tipo ) { %> <%= form.tipo == 'Campo' ? 'selected' : ''%><% }%> value="Campo">Campo</option>
                                            <option <% if(form.tipo ) { %> <%= form.tipo == 'Terreno' ? 'selected' : ''%><% }%> value="Terreno">Terreno</option>
                                            <option <% if(form.tipo ) { %> <%= form.tipo == 'Lavoura' ? 'selected' : ''%><% }%> value="Lavoura">Lavoura</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-6   rural-form">
                                        <select name="finalidade" class="selectpicker form-control" id="selectFinalidade" title="Finalidade">
                                            <option <% if (form.finalidade) {%> <%= form.finalidade == 'Pecuária' ? 'selected' : ''%> <% } %>value="Pecuária">Pecuária</option>
                                            <option <% if (form.finalidade) {%> <%= form.finalidade == 'Lavoura' ? 'selected' : ''%> <% } %>value="Lavoura">Lavoura</option>
                                            <option <% if (form.finalidade) {%> <%= form.finalidade == 'Ambos' ? 'selected' : ''%> <% } %>value="Ambos">Ambos</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-6 z-index-10">
                                        <select name="municipio" data-size="4" class="selectpicker form-control" id="selectMunicipio" title="Município">
                                            <option <% if(form.municipio ) { %><%= form.municipio == 'Lavoura' ? 'selected' : ''%> <% }%> value="Aceguá">Aceguá</option>
                                            <option <% if(form.municipio ) { %><%= form.municipio == 'Bagé' ? 'selected' : ''%> <% }%> value="Bagé">Bagé</option>
                                            <option <% if(form.municipio ) { %><%= form.municipio == 'Candiota' ? 'selected' : ''%> <% }%>value="Candiota">Candiota</option>
                                            <option <% if(form.municipio ) { %><%= form.municipio == 'Dom Pedrito' ? 'selected' : ''%> <% }%>value="Dom Pedrito">Dom Pedrito</option>
                                            <option <% if(form.municipio ) { %><%= form.municipio == 'Hulha Negra' ? 'selected' : ''%> <% }%>value="Hulha Negra">Hulha Negra</option>
                                            <option <% if(form.municipio ) { %><%= form.municipio == 'Outros' ? 'selected' : ''%> <% }%> value="Outros">Outros</option>
                                        </select>
                                    </div>
                                    <!-- Só é exibido se o município for Bagé -->
                                    
                                    <div class="col-md-3 col-sm-6" id="defaultLocalidades">
                                        <select name="defaultLocalidade" class="selectpicker form-control" title="Localidade">
                                            <option disabled >Selecione um Munícipio</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3 col-sm-6 hidden" id="outrasLocalidades">
                                        <select name="outrasLocalidades" class="selectpicker form-control" title="Localidade">
                                            <option>Outros</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3 col-sm-6 hidden" id="bageLocalidades">
                                        <select name="localidade" class="selectpicker form-control" title="Localidade">
                                            <option <% if(form.localidade ) { %><%= form.localidade == 'Igrejinha' ? 'selected' : ''%> <% }%>value="Igrejinha">Igrejinha</option>
                                            <option <% if(form.localidade ) { %><%= form.localidade == 'Palmas' ? 'selected' : ''%> <% }%> value="Palmas">Palmas</option>
                                            <option <% if(form.localidade ) { %><%= form.localidade == 'Piraí' ? 'selected' : ''%> <% }%> value="Piraí">Piraí</option>
                                            <option <% if(form.localidade ) { %><%= form.localidade == 'Outros' ? 'selected' : ''%> <% }%> value="Outros">Outros</option>
                                        </select>
                                    </div>
                            
                                    <div class="col-md-2 col-sm-6">
                                        <select name="acudes" data-size="2" class="selectpicker form-control" title="Açudes">
                                            <option <% if(form.acudes ) { %> <%= form.acudes == 1 ? 'selected' : ''%> <% }%>value="1">1</option>
                                            <option <% if(form.acudes ) { %> <%= form.acudes == 2 ? 'selected' : ''%> <% }%>value="2">2</option>
                                            <option <% if(form.acudes ) { %> <%= form.acudes == 3 ? 'selected' : ''%> <% }%>value="3">3</option>
                                            <option <% if(form.acudes ) { %> <%= form.acudes == 4 ? 'selected' : ''%> <% }%>value="4">4+</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <select name="mangueiras" data-size="2" class="selectpicker form-control" title="Mangueiras">
                                            <option <% if(form.mangueiras ) { %><%= form.mangueiras == 1 ? 'selected' : ''%> <% }%> value="1">1</option>
                                            <option <% if(form.mangueiras ) { %><%= form.mangueiras == 2 ? 'selected' : ''%> <% }%> value="2">2</option>
                                            <option <% if(form.mangueiras ) { %><%= form.mangueiras == 3 ? 'selected' : ''%> <% }%> value="3">3</option>
                                            <option <% if(form.mangueiras ) { %><%= form.mangueiras == 4 ? 'selected' : ''%> <% }%> value="4">4+</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <select name="galpoes" data-size="2" class="selectpicker form-control" title="Galpões">
                                            <option <% if(form.galpoes ) { %> <%= form.galpoes == 1 ? 'selected' : ''%><% }%> value="1">1</option>
                                            <option <% if(form.galpoes ) { %> <%= form.galpoes == 2 ? 'selected' : ''%><% }%> value="2">2</option>
                                            <option <% if(form.galpoes ) { %> <%= form.galpoes == 3 ? 'selected' : ''%><% }%> value="3">3</option>
                                            <option <% if(form.galpoes ) { %> <%= form.galpoes == 4 ? 'selected' : ''%><% }%> value="4">4</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <select name="sedes" data-size="2" class="selectpicker form-control" title="Sedes">
                                            <option <% if(form.sedes ) { %> <%= form.sedes == 1 ? 'selected' : ''%> <% }%>value="1">1</option>
                                            <option <% if(form.sedes ) { %> <%= form.sedes == 2 ? 'selected' : ''%> <% }%>value="2">2</option>
                                            <option <% if(form.sedes ) { %> <%= form.sedes == 3 ? 'selected' : ''%> <% }%>value="3">3</option>
                                            <option <% if(form.sedes ) { %> <%= form.sedes == 4 ? 'selected' : ''%> <% }%>value="4">4+</option>
                                        </select>
                                    </div>
                                   
                                    <div class="col-md-4 col-sm-6 ">
                                        <select name="areahec" class="selectpicker form-control" id="selectAreahec" title="Área Hec">
                                            <option <% if(form.areahec) { %> <%= form.areahec == 50 ? 'selected' : ''%> <% }%>value="50">Até 50 hec.</option>
                                            <option <% if(form.areahec) { %> <%= form.areahec == 50100 ? 'selected' : ''%> <% }%>value="50100">De 50 hec. até 100 hec.</option>
                                            <option <% if(form.areahec) { %> <%= form.areahec == 100 ? 'selected' : ''%> <% }%>value="100">Mais de 100 hec.</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-12 send-filter-btns">
                                        <button type="submit" class="btn btn-default-outline"> <i class="fa fa-filter"></i>
                                            Filtrar Imóveis!</button>
                                        <a role="button" href="/comprar?filtrando=Rural" type="submit"
                                            class="mt-2 btn btn-sm btn-default-outline">
                                            <i class="fa fa-filter"></i>
                                            Reiniciar filtros</a>
                                    </div>
                                    
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>